@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Montserrat";
}



.header{
    
    height: 427px;
    background-color: blue;
    background-image: url("/images/banniere.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 91px;
    background: #fff;
    justify-content: center;
}
.header-navbar-link a{
    text-decoration: none;
    color: #9F9F9F;
    margin-right: 80px;
    margin-bottom: 17px;
}
.header-navbar-link{
    position: relative;
    left: -250px;
    width: 605px;
}
.header-social-media{
    position: relative;
    right: -300px;
    
}
.header-social-media a{
    padding: 10px 10px;
    color: #9F9F9F;
}
.header-navbar-link a:hover{
    color: #000;
}
.header-social-media a:hover{
    color: #000;
}
.activated-link{
    color: #000!important;
}


.card{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.card:first-child{
    margin-top: 47px;
}
.card-content{
    margin-left: 20px;
}
.card-content h4{
    font-size:17px;
    font-weight: 300;
    opacity: .6;
}
.card-content h2{
    font-family: "cardo";
    font-size:36px;
    font-weight: 700;
}
.card-content p{
    font-size:16px;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;
    opacity: .87;
}
main{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}
.sidebar-link a{
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #9F9F9F;
    margin-bottom: 17px;
}
section{
    width: 80%;
}
aside{
    width: 20%;
    background-color: #fbfbfb;
    padding-top: 30px;
    padding-left: 40px;
    margin-left: 150px;
}
.sidebar-card h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
